@media only screen and (min-width : 20em){
    #primary-nav{
        display: none;
    }

    #hero-card{
        margin-bottom: 20px;
    }

    #hero-card .name h1:before,
    .heading:after{
        width: 92%;
    }

    #hero-card .name h1{
        font-size: 32px;
        margin-bottom: 12px;
    }

    #about-me .excerpt,
    #my-weapons .row{
        padding-left: 15px;
        padding-right: 15px;
    }

    #my-resume .column {
        width: 91%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px;
        margin-bottom: 15px;
    }

    #my-resume .column h3 {
        font-size: 16px;
    }

    #my-weapons .excerpt {
        padding-left: 15px;
        padding-right: 15px;
    }

    #my-weapons .row {
        margin-bottom: 25px;
    }

    #my-weapons .tags{
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #my-resume .content{
        width: 78%;
    }

    #see-my-portfolio .column {
        width: 91%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #shoot-a-message form .row{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    #shoot-a-message form .col-left,
    #shoot-a-message form .col-right{
        width: 100%;
    }

    #shoot-a-message form .col-left .field input{
        max-width: 100%;
        box-sizing: border-box;
    }

    #shoot-a-message form .col-right textarea{
        max-width: 100%;
        border: 1px solid #424242;
        box-sizing: border-box;
    }

    #shoot-a-message form button {
        width: 99%;
    }

    #my-weapons .col-left {
        text-align: left;
    }

}