/* ===== == = === 37.5em (600px) === = == ===== */
@media only screen and (min-width: 37.5em){
    #my-weapons .col-left {
        text-align: left;
    }
    #see-my-portfolio .column {
        width: 44%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    #hero-card .name h1:before, .heading:after {
        width: 58%;
    }
}