/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (min-width : 48em) {
    #primary-nav{
        display: block;
    }
    #my-weapons .col-left {
        text-align: left;
    }
    #hero-card{
        margin-bottom: 80px;
    }
    #hero-card .name h1:before,
    .heading:after{
        width: 33%;
    }

    #hero-card .name h1{
        font-size: 38px;
        margin-bottom: 12px;
    }

    #about-me .excerpt,
    #my-weapons .row{
        padding-left: 15px;
        padding-right: 15px;
    }

    #my-resume .column {
        width: 45%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px;
        margin-bottom: 15px;
    }

    #my-resume .column h3 {
        font-size: 16px;
    }

    #my-weapons .excerpt {
        padding-left: 15px;
        padding-right: 15px;
    }

    #my-weapons .row {
        margin-bottom: 25px;
    }

    #my-weapons .tags{
        margin-right: 12px;
    }

    #see-my-portfolio .column {
        width: 30.5%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 7.5px;
        margin-right: 7.5px;
    }

    #shoot-a-message form .row{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    #shoot-a-message form .col-left{
        width: 35%;
        margin-right: 18px;
    }

    #shoot-a-message form .col-right{
        width: 62%;
    }

    #shoot-a-message form button {
        width: 100%;
    }
    #shoot-a-message form .col-left .field input, 
    #shoot-a-message form .col-right textarea {
        max-width: 100%;
    }

    #primary-nav .justified {
        -webkit-padding-start: 0px;
    }

    #primary-nav .justified a {
        padding: 29px 5px;
        font-size: 13px;
    }

}